.content{
    width: 100%;
    height: 1600px;
}
.top_framing{
    width: 100%;
    height: 417px;
    transition: 2s;
}
.content_banner{
    width: 100%;
    height: 400px;
    background: url("../comics_images/1.gif")no-repeat;
    background-size: cover;
}
.content_introduction{
    width: 80%;
    height: 17px;
    color: saddlebrown;
    overflow: hidden;
    font-size: 14px;
    transition: 2s;
    margin-top: 5px;
    margin-left: 100px;
    letter-spacing: 5px;
    text-indent: 38px;
}
.top_framing:hover .content_introduction{
    height: 537px;
}
.title_photo{
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
}
.column_up{
    width: 1000px;
    height: 1000px;
    position: absolute;
}
.framing_one{
    width: 320px;
    height: 200px;
    transition: 2s;
    overflow: hidden;
    float: left;
    border-radius: 10px;
}
.photo_one{
    width: 320px;
    height: 200px;
    float: left;
    position: relative;
    margin-left: 20px;
    margin-top: 20px;
    background: url("../comics_images/one_punch_man%20.jpg")no-repeat;
    background-size: cover;
    border-radius: 10px;

}
.framing_one:hover {
    transform: translate3d(0px,-5px,0px) scale(1.06);
}
.framing_one .bottom_one{
    width: 300px;
    height: 60px;
    background-color: #9f9f9f;
    position: absolute;
    bottom: -70px;
    opacity: 0.8;
    text-indent: 24px;
    transition: 2s;
    font-size: 12px;
    letter-spacing: 2px;

}
.framing_one:hover .bottom_one{
    bottom: 15px;
}
.framing_two{
    width: 320px;
    height: 200px;
    transition: 2s;
    overflow: hidden;
    float: left;
    border-radius: 10px;
}
.photo_two{
    width: 320px;
    height: 200px;
    float: left;
    position: relative;
    margin-left: 20px;
    margin-top: 20px;
    background: url("../comics_images/basketball.jpg")no-repeat;
    background-size: cover;
    transition: 1s;
    border-radius: 10px;
}
.framing_two:hover {
    transform: translate3d(0px,-5px,0px) scale(1.06);
}
.framing_two .bottom_two{
    width: 300px;
    height: 60px;
    background-color: #9f9f9f;
    position: absolute;
    bottom: -70px;
    opacity: 0.8;
    text-indent: 24px;
    transition: 2s;
    font-size: 12px;
    letter-spacing: 2px;
}
.framing_two:hover .bottom_two{
    bottom: 15px;
}
.framing_three{
    width: 320px;
    height: 200px;
    transition: 2s;
    overflow: hidden;
    float: left;
    border-radius: 10px;
}
.photo_three{
    width: 320px;
    height: 200px;
    margin-left: 20px;
    margin-top: 20px;
    position: relative;
    float: left;
    background: url("../comics_images/yaojing.jpg")no-repeat;
    background-size: cover;
    transition: 1s;
    border-radius: 10px 10px 10px 10px;
}
.framing_three:hover {
    transform: translate3d(0px,-5px,0px) scale(1.06);
}
.framing_three .bottom_three{
    width: 310px;
    height: 60px;
    background-color: #9f9f9f;
    position: absolute;
    bottom: -70px;
    opacity: 0.8;
    text-indent: 24px;
    transition: 2s;
    font-size: 12px;
    letter-spacing: 2px;

}
.framing_three:hover .bottom_three {
    bottom: 15px;
}
.column_down{
    width: 100%;
    height: 800px;
    position: relative;
    float: left;
    margin-top: 300px;
}
.column_down_1{
    width: 100%;
    height: 340px;
    position: relative;
    float: left;

}
.photo_content{
    width: 600px;
    height: 300px;
    position: relative;
    left: 20px;
    top: 20px;
    overflow: hidden;
    float: left;
    border-radius: 10px;
}
.photo_four{
    width: 600px;
    height: 300px;
    position: relative;
    background: url("../comics_images/huoying.jpg")no-repeat;
    background-size: cover;
    transition:all 0.9s;
}
.photo_four:hover{
    transform: scale(1.06);
    border-radius: 10px;
}
.text_four{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    position: relative;
    float: left;
    left: 30px;
    top: 20px;
    border-radius: 10px;
}
.text_four_name_1{
    width: 300px;
    height: 50px;
    color: saddlebrown;
    position: relative;
    margin-left: 50px;
    font-size: 35px;
    top: 20px;
}
.text_four_name_2{
    width: 300px;
    height: 20px;
    color: saddlebrown;
    position: relative;
    margin-left: 50px;
    font-size: 30px;
    margin-top: 40px;
}
.text_four_about{
    width: 300px;
    height: 170px;
    color: saddlebrown;
    position: relative;
    margin-left: 30px;
    margin-top: 70px;
    text-indent: 36px;
    letter-spacing: 2px;
}
.column_down_2{
    width: 100%;
    height: 340px;
    position: relative;
    float: left;
    margin-top: 20px;

}
.photo_five{
    width: 600px;
    height: 300px;
    position: relative;
    background: url("../comics_images/tennis.jpg")no-repeat;
    background-size: cover;
    transition:all 0.9s;
}
.photo_five:hover{
    transform: scale(1.06);
    border-radius: 10px;
}
.text_five{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    position: relative;
    float: left;
    left: 30px;
    top: 20px;
    border-radius: 10px;
}
.text_five_name_1{
    width: 300px;
    height: 20px;
    color: saddlebrown;
    position: relative;
    margin-left: 50px;
    font-size: 35px;
    margin-top: 30px;
}
.text_five_name_2{
    width: 300px;
    height: 20px;
    color: saddlebrown;
    position: relative;
    margin-left: 50px;
    font-size: 30px;
    margin-top: 40px;
}
.text_five_about{
    width: 280px;
    height: 170px;
    color: saddlebrown;
    position: relative;
    margin-left: 30px;
    margin-top: 70px;
    text-indent: 36px;
    letter-spacing: 2px;

}